
$theme-colors: (
    "primary": #EC2929,
    "secondary":#262626,
    "third":#333333,
    "danger": #a05c59,
    "modal":#212121,
);

$primary: #EC2929;
$graytext:#a8a8a8;

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/transitions";
@import "./node_modules/bootstrap/scss/navbar";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/bootstrap/scss/modal";

    
@mixin divider-animation {
    
    width:auto;
    background-color: #7D1515;
    border-top: none !important;
    margin: 0;
}

@mixin big-text {
    font-weight: bold;
    font-size: 250%;
    line-height: 1.3;
}

.active {
    color: white !important;
    border-bottom: 2px solid red;
}

.btn {
    font-size: large;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
}


//$kita: 'Monserrat',sans-serif;


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
*::before,
*::after{
    box-sizing: border-box;
}


body
{
    font-family: 'Montserrat',sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%; 
}

#img{
    background-image: url(/assets/header-img-1920.jpg);
    background-position-y: 100%;
    background-size: cover;
    min-height: 100vh;
}



//-------------------------NAVBAR -----------------------------

#nav-bar{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.navbar {
    
    position: sticky;
    top: 0px;
    z-index: 10;
    
}

.nav-button:hover{
    background-color: rgb(252, 32, 32);
}

.navbar-nav li button{
    font-size:90%;
    letter-spacing: 1px;
    font-weight: 300;
    color: #cfcfcf;
    background-color: #333333;
    height: 50px;
    width:150px;
    border: none;
    border-radius: 2px;
}

.navbar-nav li {
    padding: 0 18px;
}

.navbar-nav li a{
    font-family: 'Roboto Condensed', sans-serif;
    color: gray !important;
    letter-spacing: 1px;
}

.dropdown-divider {
    border-top: 1px solid white;
    width: 80%;
    margin: auto;
}

.dropdown-menu {
    background-color: #212121;
    font-size: 90%;
    border: 1px solid #cfcfcf;
}

.dropdown-item:hover{
    background-color: transparent !important;
    
}

.dropdown-item {
    padding-top: 12%;
    
}

/*------------------------HEADER ----------------------------*/

#header {
    padding-top: 8%;
    padding-left: 10%;
}
.new-arrival
{
    color: $primary;
    letter-spacing: 4px;
    font-size: 80%;
    font-family: 'Roboto Condensed', sans-serif;
}

.promo-title {
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    color: white;
    font-size: 320%;
    line-height: 1.15;
    letter-spacing: 1.8px;
}

.promo-div{
    flex-direction: row;
    display: flex;
    width: 64%;
    height: 40%;
    padding-top: 5%;
}

.promo-line{
    border-left: 1px solid $primary;
    margin-left: 5%;
    height: 63%;
    margin-top: 3%;
    
}

.promo-text {
    font-family: 'Montserrat',sans-serif;
    padding-left: 10%;
    color: #A6A2A1;
    line-height: 2;
    font-size: 95%;
}

.carousel_button_prev {
    background: linear-gradient(233deg, rgba(33,33,33,1) 50%, rgba(66,66,66,1) 100%);
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    padding-right: 2px;
    position: absolute;
    left: 0px;
    bottom: 50vh;
    border: 1px solid rgba(163, 163, 163, 0.349);
    border-radius: 5px;
}

.carousel_button_next {
    background: linear-gradient(233deg, rgba(33,33,33,1) 50%, rgba(66,66,66,1) 100%);
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    padding-right: 2px;
    position: absolute;
    right: 0px;
    bottom: 50vh;
    border: 1px solid rgba(163, 163, 163, 0.349);
    border-radius: 5px;
}

/*--------------------------------ABOUT US------------------------*/

#about-us {
    height: 100vh;
    
}

#q8 {
    height:inherit;
}

#q8row {
    padding-top: 5%;
    height: inherit;
}



.gray-background {
    background-color: #212121;
    width: 375px;
    height: 550px;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 8%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gray-background img {
    margin-top: auto;
}

.gray-background p {
    margin-top: auto;
    color: rgba(245, 245, 245, 0.349);    ;
    font-family: 'Montserrat',sans-serif;
    font-style: italic;
    font-size: 85%;
    margin-bottom: 8%;
}

.about-us-text {
    margin-bottom: 10%;
    width: 82%;
    margin-right: auto;
    margin-left: 15%;
    font-family: 'Montserrat',sans-serif;
}

.welcome-text {
    @include big-text();
    padding-bottom: 5%;
}

.singleframe {
    font-size: 140%;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.5px;
    padding-bottom: 2.5%;
    width: 93%;
}

.welcome-text3{
    color: #616161;
    font-size: 100%;
    width: 90%;
}

/*-----------------------------------BANNER------------------*/

#banner { 
    min-height: 75vh;
    background-image: 
    linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0,0,0,1)),
    url(./assets/section-banner-1920.jpg);
    background-position-y: 42%;
    background-position-x: 55%;
    
    color: white;
}



#banner-column {
    margin-top: 8%;
    padding-left: 6.5%;
    font-family: 'Montserrat',sans-serif;
}

.banner-title {
    font-weight: 700;
    font-size: 240%;
    line-height: 1.3;
    letter-spacing: 0px;
}

.banner-text {
    color: #c0c0c0;
    line-height: 2;
    font-size: 90%;
    font-weight: 300;
}

.boxes {
    display: flex;
    width: 100%;
    padding-top: 8%;
    align-items: center;
}

.box {
    background-color: rgba(255,255,255,0.2);
    opacity: 1;
    margin-right: 5%;
    min-width: 170px;
    height: 150px;
    border:1px solid rgb(129, 129, 129);
    text-align: center;
}

.boxtext1 {
    padding-top: 16%;
    color: #cfcfcf;
    letter-spacing: 4px;
    font-size: 80%;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 5px;
}

.boxtext2 {
    font-weight: 600;
    font-size: 180%;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.boxtext3 {
    color: #cfcfcf;
    font-style: italic;
    font-family: 'Montserrat',sans-serif;
}

/*---------------------------PRODUCTS-----------------------------------------*/

#products {
    min-height: 100vh;
    font-family: 'Montserrat',sans-serif;
}

.products-title {
    @include big-text();
    text-align: center;
    padding-top: 7%;
    padding-bottom: 1%;
}

#productList ul {
    list-style:none;
    align-items: center;
}

#productList li {
    align-items: center;
    padding: 25px;
    text-align:center;
}

.products-border {
    border-bottom: 2px solid $primary;
    width:50px;
}

#productList a {
    text-decoration: none;
    color: $graytext;
}

#products-row {
    padding: 0% 5%;
}

#products-card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#products-card button {
    text-decoration: none;
    text-align: center;
    font-size: 85%;
    border: none;
    background-color: transparent;
    color: #0d6efd;
}

#products-card ul {
    list-style-image: url('/assets/Path.svg');
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    font-size: 86%;
    color: $graytext;
}

#products-card li {
    padding: 6px;
}

.products-image {
    align-self: center;
    margin-top: 10%;
}

.products-card-text {
    color: $graytext;
    font-size: 86%;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 1%;
}

.products-card-name {
    font-weight: 700;
    font-size: 120%;
    margin-bottom: 1%;
}

.products-card-footer {
    display: flex;
    padding-left: 5%;
}

.products-card-footer p {
    font-family: 'Roboto Condensed',sans-serif;
    width:50%;
    text-align: left;
    color: $graytext;
    font-size: 100%;
}

.products-card-footer span {
    color: #212529;
    font-size: 150%;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
}

.products-card-footer button {
    width: 80px;
    height: 40px;
    margin: auto;
    background-color:#fee9e9;
    color:#ff0000;
    border: none;
    border-radius: 35%;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 85%;
}

.products-new {
    position: absolute;
    font-family: 'Roboto Condensed',sans-serif;
    background-color: #962afa    ;
    align-self: flex-start;
    font-size: 75%;
    font-weight: bold;
    width: 40px;
    height: 27px;
    color: white;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 15%;
    text-align: center;
    letter-spacing: 1px;
}
.products-new {
    padding-top: 5px;
}



/*-------------------------------CONTACT FORM -----------------------*/ 

#contact-form {
    height: 100vh;
    background: linear-gradient(315deg, rgba(0,0,0,1) 0%, rgba(39,46,40,1) 100%);
}

#contact-form-row {
    padding-top: 8%;
    padding-left: 0;
}

.contact-title {
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    color: white;
    font-size: 300%;
    line-height: 1.25;
    letter-spacing: 1.5px; 
    width:90%;

}

#contact-column {
    padding-left: 11%;
    height: 600px;
    background-image: url(./assets/contact-form-img.png);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 85%;
    z-index: 11;
    position: relative;
}

#contact-column2 {
    position: absolute;
    right: 12%;
}

.contact-footer {
    color: rgba(245, 245, 245, 0.349); 
    margin-top: 45%;
}

.contact-input {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 500px;
    margin-left: auto;
    background-color: #011f05;
    align-items: center;
    justify-content: space-evenly;
}

.contact-input input, textarea {
    width: 80%;
    background-color: #26402a;
    border:1px solid rgba(245, 245, 245, 0.349);
    border-radius: 2px;
    padding-left: 3%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 90%;
    color: white;
}

.form-name {
    height: 11%;    
}

.form-email {
    height: 11%;
}

.form-text {
    padding-top: 5%;
    height: 30%;
    text-align: start;
    color: white;
}

.form-button {
    width: 25%;
    height: 12%;
    background-color: transparent;
    color: white;
    border:2px solid rgba(245, 245, 245, 0.349);
}


#end {
    position:relative;
    display: flex;
    flex-direction: row;
    right: -72%;
    top:-8%;
    overflow:hidden;
    width: 28%;
}
#end a{
    padding-left: 20px;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.349) !important;
}

/*--------------------------------------------MODAL--------------------*/

.modal {
    top:30%;
    left:15%;
    width: 70%;
    border-radius: 10px;
    height: 380px;
}

#modal-row {
   height: 100%;
}

#modal-col1 {
    padding-top: 5%;
    background-color: rgb(245, 245, 245);
    text-align: center;
    font-family: 'Montserrat',sans-serif;

}

.modal-card-name {
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 15%;
}

.modal-button {
    padding-top: 2%;
    margin-left: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size:80%;
    letter-spacing: 1px;
    font-weight: 300;
    color: #cfcfcf;
    background-color: #212121;
    height: 70px;
    width:200px;
    border: none;
    border-radius:10px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(223, 223, 223, 0.651);
    padding-left: 16%;
}
.modal-title {
    display: flex;
    flex-direction: row;
}

.modal-close {
    position:fixed;
    right:13.5%;
    top:27.5%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #212121;
    color: white;
}

.btn{
    height: 10px;
    width: 10px;
}

.modal-price {
    margin-right: 10%;
    font-size: 200%;
    font-family: 'Montserrat',sans-serif;
    color: white;
    text-align: center;
    
}

#modal-col2 {
    background-color: white;
    font-family: 'Montserrat',sans-serif;
}

.modal-price1 {
    margin-left: auto;
    margin-right: 5%;
    font-weight: bold;
}

.form-check-input:checked {
    color: #212121 !important;
    background-color: #212121 !important;
}

.group {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    padding-left: 1%;
}

.modal-bonus {
    font-size: 90%;
    margin-left: 2%;
    font-weight: 400;
}

.modal-divider {
    border-top: 1px solid rgb(143, 143, 143);
    width: 95%;
    margin: auto;
}

.modal-config {
    padding-top: 4%;
    font-weight: 700;
    font-size: 120%;
    padding-left: 2%;
    margin-bottom: 0;
    width: 50%;
}

.modal-config2 {
    color: rgba(146, 146, 146, 0.849);
    font-size: 90%;
    padding-left: 2%;
}

#price1 {
    margin-left: auto;
}





/*-------------------------------------------Mobile */

@media only screen and (max-width: 600px) {
    body{
        font-size: 50%;
    }

    .promo-div {
        margin-top:80%;
    }


    .gray-background{
        width: 80%;
        height: 350px;
    }
    .gray-background img{
        width: 150px;
    }
    .gray-background p {
        text-align: center;
    }


    .boxes {
        display: flex;
        flex-direction: column;
        margin-left: 50%;
    }

    .box {
        margin-bottom: 10%;
    }

    #productList li {
        padding:5px;
    }

    #products-row {
        display: flex;
        flex-direction: column;
    }

    #contact-column {
        display: none;
    }

    #contact-column2 {
        position: relative;
        width: 100%;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }

    .contact-input {
        width: 100%;
        margin-left: 12%;
        height: 600px;
    }

    #contact-form-row {
        padding-top: 0%;
    }

    #end {
        right:-20%;
        top:2%;
        width: 70%;
    }

}

@media only screen and (min-width: 768px) and (max-width:1000px) {
    .card {
        width: 8rem !important;
    }

    .card img{
        width: 8rem;
    }

    body{
        font-size: 70%;
    }

    .gray-background {
        width: 50%;
    }

    .gray-background img{
        width: 300px;
    }

    .contact-footer {
        margin-top: 100%;
    }
}
